<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@ViewBag.Favicon" />
    @Styles.Render("~/gStyles")
    @Scripts.Render("~/gScripts")
    @Scripts.Render("~/gBabels")
</head>
<body>
    @RenderBody()
</body>
</html>
